<div id="botones">
   <button id="boton" class="btn btn-lg btn-primary" type="submit" onClick="{{path("home")}}">
         {{ button_label|default('Entrar')}}
   </button>
   <button id="boton" class="btn btn-lg btn-primary" type="submit" onClick="{{path("home")}}">
           Volver
   </button>
</div>    